@use './variables' as *;

@mixin container {
  width: min($container-width, calc(100% - 240px));
  margin: 0 auto;
}

@mixin card {
  border-radius: $radius-lg;
  border: 1px solid $border;
  background: linear-gradient(180deg, rgba($primary-700, 0.96) 0%, rgba($theme-black, 0.96) 100%);
}
